@import "./reset.css";
@import "./common.css";

main {
  position: relative;
  z-index: 3;
}

.fixed-bottom {
  transform: translateY(100%);

  position: fixed;
  bottom: 0;
  padding: 20px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  gap: 20px;
  mix-blend-mode: difference;
  z-index: 100;
}
.fixed-bottom p {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  color: #f7f7f7;
  margin: 0;
}

.fixed-bottom .left {
  grid-column: 1/6;
}
.fixed-bottom .right {
  grid-column: 9/-1;
  display: flex;
  justify-content: space-between;
}
.fixed-bottom .right .text {
  margin-left: -11px;
}
.fixed-bottom .right .scroll-wrap {
  display: flex;
  align-items: center;
}
.fixed-bottom .right .scroll-wrap .scroll-indicator {
  justify-self: flex-end;
  margin-inline: 8px;
  width: 170px;
  background: hsla(0, 0%, 97%, 0.2);
  position: relative;
  height: 1px;
}
.fixed-bottom .right .scroll-wrap .scroll-indicator-fill {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #fff;
  transition: width 0.1s ease-out;
}

.fixed-bottom .right .scroll-wrap .scroll-percentage {
  width: 35px;
}

#header nav {
  transform: translateY(-100%);

  position: fixed;
  top: 0;
  left: 0;
  padding: 20px;
  display: flex;
  width: 100%;
  mix-blend-mode: difference;
  align-items: center;

  justify-content: space-between;
  z-index: 100;
  background: none;
}
#header .nav-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  background: #000;
  /* opacity: 0; */
  pointer-events: none;
  /* display: none; */
}
#header .nav-icon {
  mix-blend-mode: difference;
  color: #f7f7f7;
}

#header .ic-deco {
  pointer-events: none;
  user-select: none;

  padding: 0;
  background: none;
  border: none;
}

#footer {
  /* height: 100vh; */

  margin-top: -557px;
  padding-bottom: 557px;
  position: relative;
  overflow: hidden; 
}

#footer .inner-footer {
  width: 100%;
  /* height: 100%; */

  /* transform: translate(0px, 0px); */
  max-width: 2560px;
  padding-inline: 52px;
  padding-top: 40px;
  padding-bottom: 74px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#footer .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 238px;
}
#footer .title-wrap {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
#footer .title-wrap .title-kicker {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 22px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  color: #000;
  /* opacity: 0; */
}

.title-main .char {
  display: inline-block;
}

#footer .title-wrap .title-main {
  overflow: hidden;

  font-weight: 500;
  font-size: 180px;
  line-height: 172px;
  letter-spacing: -0.035em;
  color: #000;
  margin: 0 0 0 -0.055em;
  padding-bottom: 0.1em;
  padding-right: 0.02em;
}
#footer .title svg {
  margin-top: 28px;
  transform: scale(0);
}
#footer .copyright {
  display: grid;
  column-gap: 20px;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}
#footer .copyright p {
  grid-column: 9 / -1;
}
@media only screen and (max-width: 1650px) {
  #footer .title-wrap .title-main {
    font-size: 147px;
    line-height: 147px;
  }
  #footer .title svg {
    width: 22px;
    height: 22px;
  }
}

@media only screen and (max-width: 1380px) {
  #footer .title-wrap .title-main {
    font-size: 120px;
    line-height: 100px;
    padding-bottom: 0.15em;
  }
  #footer .title-wrap .title-kicker {
    top: 2px;
  }
  #footer .title svg {
    width: 18px;
    height: 18px;
    margin-top: 16px;
  }
}

@media only screen and (max-width: 1150px) {
  #footer .title {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin-bottom: 130px;
  }
  #footer .title .title2 {
    margin-top: -20px;
  }
  #footer .title .title3 {
    margin-top: -40px;
  }
  #footer .title-wrap .title-main {
    font-size: 180px;
    line-height: 144px;
    padding-bottom: 0.18em;
  }
  #footer .title-wrap .title-kicker {
    display: none;
  }
  #footer .title svg {
    display: none;
  }
}
