@font-face {
  font-family: "CustomFont";
  src: url("../fonts/font.588583f4.woff2") format("woff2");
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
}
*,
:after,
:before {
  box-sizing: border-box;
}

body,
html,
input {
  font-family:
    CustomFont,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
}

body,
html {
  background: #f7f7f7;
}
body::-webkit-scrollbar {
  display: none;
}

a:-webkit-any-link {
  cursor: pointer;
}
a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}
button {
  background: none;
  border: 0;
  cursor: pointer;
}
